body {
    background-color: rgb(252, 252, 252);
    margin: 0;
    padding: 5px;
}

.grid-container {
    display: grid;
    grid-template-columns: 20% 1fr 1fr 1fr 1fr;
    grid-template-rows: 10% 10% 30% 35% 5%;
    gap: 5px;
    height: 100vh;
    text-align: center;
    color: white;
    font-weight: bold;
}

.grid-container div:not(.cubitos-container){
    border: 1px solid black;
}

.header {
    grid-area: 1/1/2/6;
    background-color: rgb(45, 122, 25);
}

.sidebar {
    background-color: rgb(255, 0, 0);
    grid-area: 2/1/6/2;
}

.top-bar {
    background-color: rgb(212, 26, 212);
    grid-area: 2/2/3/6;
}

.bloque1 {
    background-color: orange;
    grid-area: 3/2/4/4;
}

.bloque2 {
    background-color: orange;
    grid-area: 3/4/4/6;
}

.cubitos-container {
    grid-area: 4/2/6/6;
    display: grid;
    grid-template-columns: 1fr 1fr 30% 1fr 1fr;
    grid-template-rows: 50% 50%;
    gap: 5px;
    padding-bottom: 5px;
}

.item {
    background-color: rgb(28, 56, 212);
    border: 1px solid black;
}

.footer {
    background-color: rgb(45, 122, 25);
    grid-area: 6/1/6/6;
    border: 1px solid black;
}

/* ----------------- Responsive ----------------- */

@media screen and (max-width: 750px) {
    .grid-container {
        display: grid;
        grid-template-columns: 25% 1fr;
        grid-template-rows: 10% 10% 10% 10% 50% 10%; 
        gap: 5px;
        height: 100vh;
        text-align: center;
        color: white;
        font-weight: bold;
    }

    .header {
        grid-area: 1 / 1 / 2 / 3; 
        background-color: rgb(45, 122, 25);
    }

    .sidebar {
        grid-area: 2 / 1 / 6 / 2; 
        background-color: rgb(255, 0, 0);
    }

    .top-bar {
        grid-area: 2 / 2 / 3 / 3; 
        background-color: rgb(212, 26, 212);
    }

    .bloque1 {
        grid-area: 3 / 2 / 4 / 3;
        background-color: orange;
    }

    .bloque2 {
        grid-area: 4 / 2 / 5 / 3; 
        background-color: orange;
    }

    .cubitos-container {
        grid-area: 5 / 2 / 6 / 3; 
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        grid-template-rows: auto; 
        gap: 5px;
    }

    .item {
        background-color: rgb(28, 56, 212);
        border: 1px solid black;
    }

    .footer {
        grid-area: 6 / 1 / 7 / 3; 
        background-color: rgb(45, 122, 25);
        border: 1px solid black;
    }
}


@media screen and (max-width: 500px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows: 10% 10% 10% 15% 15% 70% 10%;
        gap: 5px;
        height: 100vh;
        text-align: center;
        color: white;
        font-weight: bold;
    }
    
    .header {
        grid-area: auto;
        background-color: rgb(45, 122, 25);
    }

    .sidebar {
        grid-area: auto;
        background-color: rgb(255, 0, 0);
    }

    .top-bar {
        grid-area: auto;
        background-color: rgb(212, 26, 212);
    }

    .bloque1, .bloque2 {
        grid-area: auto;
        background-color: orange;
    }

    .cubitos-container {
        grid-area: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: auto; 
        gap: 5px;
    }

    .item {
        background-color: rgb(28, 56, 212);
        border: 1px solid black;
    }

    .footer {
        grid-area: auto;
        background-color: rgb(45, 122, 25);
        border: 1px solid black;
    }
}

